<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Tweet.WCFService.AJAX.TweetServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="reportIssues">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Tweet.WCFService.AJAX.TweetService" 
               behaviorConfiguration="reportIssues">
        <endpoint 
          address="" 
          behaviorConfiguration=
                  "Tweet.WCFService.AJAX.TweetServiceAspNetAjaxBehavior"
          binding="webHttpBinding" 
          contract="Tweet.WCFService.AJAX.TweetService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>